#welcome {
  @include flexy($dir: row, $just: center, $align: center);
  background-color: $color-dark;

  height: 100vh;
  width: 100%;
  padding: 2.75rem;
}

@include mq(md) {
  #welcome {
    @include flexy($dir: row, $just: center, $align: flex-end);
    background-image: url("/img/bg-developer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#introduction {
  background: $color-dark;
}

#projects {
  background: $color-primary;
}

#contact {
  padding-top: 0;
}

#load {
  @include flexy($dir: row, $just: center, $align: center);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: $color-dark;
  opacity: 1;

  transition: opacity 0.5s linear;

  &.hide {
    opacity: 0;
  }
}
