.card {
  height: 100%;
  width: 100%;

  &-transparent {
    @include flexy($dir: column, $just: flex-start, $align: flex-start);
    padding-bottom: 85px;
    text-align: left;
    background: transparent;
  }

  &-button {
    @include flexy($dir: column, $just: flex-start, $align: flex-end);
    padding-bottom: 85px;
    text-align: right;
    background: transparent;
  }

  &-text {
    margin-top: 3.75rem;

    &-right {
      margin-left: auto;
      width: 70%;
    }

    &-left {
      margin-right: auto;
      width: 70%;
    }
  }
}
