.card {
  height: 100%;
  width: 100%;

  &-mobile {
    display: block;
  }

  @include mq(md) {
    &-mobile {
      display: none;
    }
  }

  &-transparent {
    @include flexy($dir: column, $just: center, $align: flex-start);
    text-align: left;
    background: transparent;
  }

  @include mq(md) {
    &-button {
      @include flexy($dir: column, $just: flex-start, $align: flex-end);
      padding-bottom: 85px;
    }
  }

  &-button {
    text-align: right;
    background: transparent;
    display: none;
  }

  @include mq(md) {
    &-button {
      @include flexy($dir: column, $just: flex-start, $align: flex-end);
      padding-bottom: 85px;
    }
  }

  &-animation {
    padding: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background: $color-dark;
    width: 252px;
    height: 252px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:hover {
      h2 {
        opacity: 0;
      }

      p {
        opacity: 0;
      }

      img {
        transform: scale(1.1);
      }
    }
  }

  @include mq(sm) {
    &-animation {
      width: 540px;
      height: 540px;
    }
  }

  @include mq(md) {
    &-animation {
      width: 448px;
      height: 448px;
    }
  }

  &-title {
    width: 100%;
    height: auto;
  }

  &-curtain {
    padding: 1.25rem;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    background: rgba($color-dark, 0.7);
    overflow: hidden;

    transition: opacity 0.1s ease-in-out;
    opacity: 0;

    h2 {
      transition: all 0.1s 0.2s ease-in-out;
      opacity: 0;
      transform: translateY(100%);
    }

    p:nth-of-type(1) {
      transition: all 0.1s 0.1s ease-in-out;
      opacity: 0;
      transform: translateY(100%);
    }

    p:nth-of-type(2) {
      transition: all 0.1s 0.3s ease-in-out;
      opacity: 0;
      transform: translateY(100%);
    }

    &:hover {
      opacity: 1;

      h2 {
        opacity: 1;
        transform: translateY(0);
      }

      p:nth-of-type(1) {
        opacity: 1;
        transform: translateY(0);
      }

      p:nth-of-type(2) {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-text {
    margin-top: 3.75rem;

    &-right {
      margin-left: 0;
      width: 100%;
    }

    &-left {
      margin-right: 0;
      width: 100%;
    }

    @include mq(md) {
      &-right {
        margin-left: auto;
        width: 60%;
      }

      &-left {
        margin-right: auto;
        width: 60%;
      }
    }
  }

  &-tool {
    width: 102px;
    height: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &-row {
    @include flexy($dir: column, $just: flex-start, $align: center);
    width: 100%;
    color: $color-semi-light;

    &-icon {
      height: 42px;
    }
  }

  &-contact {
    @include flexy($dir: column, $just: flex-start, $align: flex-start);
    height: 120px;
    width: 100%;
    margin: 0;
    padding: 1.25rem;
    background-color: $color-primary;

    &:nth-of-type(1) {
      border-right: 2px solid $color-dark;
    }

    &:nth-of-type(2) {
      border-left: 2px solid $color-dark;
    }

    .contact-item {
      width: 100%;
      height: 100%;

      h2 {
        transition: padding-left 0.2s linear;
      }

      a {
        transition: padding-left 0.2s linear 0.1s;
      }
      &:hover {
        h2 {
          padding-left: 1.25rem;
        }

        a {
          padding-left: 1.25rem;
        }
      }
    }
  }
}
