#icon-collapse {
  display: block;
  position: relative;
  width: 24px;
  height: 4px;
  background: $color-light;

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: $color-light;
    position: absolute;
    top: 8px;
    left: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 24px;
    height: 4px;
    background: $color-light;
    position: absolute;
    top: -8px;
    left: 0;
  }

  &.collapsed {
    visibility: hidden;

    &::after {
      display: block;
      content: "";
      width: 24px;
      height: 4px;
      background: $color-light;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-in-out;
      transform: rotate(45deg);
      visibility: visible;
    }

    &::before {
      display: block;
      content: "";
      width: 24px;
      height: 4px;
      background: $color-light;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease-in-out;
      transform: rotate(-45deg);
      visibility: visible;
    }
  }
}

.icon {
  &-container {
    @include flexy($just: center, $align: center);
    height: 28px;
  }
}
